/* ===== VIDEO BACKGROUND ===== */

.video-bg {
    position: fixed;        /* stays in background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark overlay for readability */
.video-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

button{
    align-items: center;
    border-radius: 20px;
    padding: 6px 20px ;
    width: 450px;
    height: 120px;
    transition: all 0.6s ease;
    background-color: rgba(130, 147, 156, 0.285);
    text-decoration-color: rgb(163, 153, 140);
    font-size: 55px ;
    color: aliceblue;
    


    }
#bt1:hover{
    transform: scale(1.3);
    transition: all o.6s ease;
    box-shadow: 0 0 70px rgb(177, 18, 205);
    background-color: rgba(204, 19, 173, 0.334);
    font-size: 60px;
    font-weight: bold;
    color: bisque;

}  

#bt2:hover{
    transform: scale(1.3);
    transition: all o.6s ease;
    box-shadow: 0 0 70px rgb(177, 18, 205);
    background-color: rgba(204, 19, 173, 0.334);
    font-size: 58px;
    font-weight: bold;
    color: bisque;
    width: 400px;

}   

#bt3:hover{
    transform: scale(1.3);
    transition: all o.6s ease;
  box-shadow: 0 0 70px rgb(177, 18, 205);
    background-color: rgba(204, 19, 173, 0.334);
    font-size: 50px;
    font-weight: bold;
    color: bisque;

}   

#bt4:hover{
    transform: scale(1.3);
    transition: all o.6s ease;
     box-shadow: 0 0 70px rgb(177, 18, 205);
    background-color: rgba(204, 19, 173, 0.334);
    font-size: 30px;
    font-weight: bold;
    color: bisque;

}   

h1{
    color: azure;
    justify-content: center;
    align-content: center;
    display: flex;
   text-align: justify;
   font-size: 50px;

}

h1:hover{
    transform: scale(1.2);
    transition: all 0.6s ease;
    box-shadow: 0 0 70px rgb(127, 7, 247);


}
section{
    display: block;
    margin-top: 80px;

  
   


}
#d1{
    gap: 30px;
    display: flex;
   margin-left: 300px;
   

}
#d2{
    display: flex;
    gap: 30px;
    margin-left: 300px;
    margin-top: 110px;


}
#h1{
    margin-top: 100px;
   
}

.s1{

    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: right;
    display: flex;
    gap: 5px;
    background-color: rgba(95, 93, 91, 0.197);

}
p:hover{
    transform: scale(1.2);
    transition: all 0.4s ease;
    align-content: center;
    background-color: #ebe0e0d7;
    margin-left: 45px;
    color: black;

}
#p3:hover{
    margin-right: 45px;

}







