 /* video bg setting */

.video-bg {
    position: fixed;        /* stays in background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark overlay for readability */
.video-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 14, 14, 0.566);
}
h1{
    color: aliceblue;
    background-color: rgba(26, 26, 135, 0.093);
    display: flex;
    justify-content: center;
    font-size: 50px;

}
h1:hover{
    transform: scale(1.4);
    transition: all 0.5s ease;
    box-shadow: blue;

}
h2{
    color: aliceblue;
    font-size: 35px;
    justify-self: center;

}
hr{
   color: whitesmoke;
   

}
button{
    color: white;
    background-color: rgba(80, 82, 83, 0.159);
    border-radius: 25px;
    
    
}
section{
    display: flex;

}
.s1{
    display: flex;
    justify-content: center;
    gap: 30px;


}
.s2{
    display: inline-block;
    justify-content: center;
    margin-left: 430px;
    column-gap: 10px;

}

body{
    justify-content: center;
}
.bt1{
    width: 250px;
    height: 40px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.bt2{
     width: 250px;
    height: 40px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bt3{
    width: 350px;
    height: 40px;
    font-size: 18px;

}
.bt4{
      width: 350px;
    height: 40px;
    font-size: 25px;

}
.bt5{
      width: 350px;
    height: 40px;
    font-size: 18px;

}
.bt6{
      width: 350px;
    height: 40px;
    font-size: 18px;

}
.bt7{
      width: 350px;
    height: 40px;
    font-size: 18px;
}
.bt8{
       width: 350px;
    height: 40px;
    font-size: 25px;
}
.bt9{
       width: 350px;
    height: 40px;
    font-size: 25px;

}
.bt10{
       width: 350px;
    height: 40px;
    font-size: 25px;

}
.bt11{
       width: 710px;
    height: 40px;
    font-size: 25px;

}
.s2 button{
    margin-top: 20px;
}

/* hover effet and transitions */

button:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
    box-shadow: 0 0 50px rgb(111, 111, 222);
    background-color: rgba(74, 106, 176, 0.405)
}
h2:hover{
    transform: rotate3d(0, 1, 0, 360deg);
  transition: transform 1s ease;
}

